APP_DOMAIN=andrewbilenduke.test

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=final_cut
DB_USERNAME=final_cut
DB_PASSWORD=secret

DB_TEST_DATABASE=final_cut_test

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=app
REDIS_PASSWORD=redissecret
REDIS_SCHEME=tls