parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\Seat\:\:\$computed_price\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/ShowtimeController.php

		-
			message: '#^Access to an undefined property App\\Models\\Seat\:\:\$computed_status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/ShowtimeController.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuditoriumResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuditoriumResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuditoriumResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuditoriumResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuditoriumResource\:\:\$seats\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/AuditoriumResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuditoriumResource\:\:\$total_seats\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuditoriumResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$confirmation_code\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$discount\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$foodItems\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$guest_email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$payment_method\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$seats\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$showtime\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$showtime_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$subtotal\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BookingResource\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BookingResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$auditorium\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$auditorium_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$end_time\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$movie\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$movie_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$price_accessible\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$price_premium\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$price_standard\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\CrossLocationShowtimeResource\:\:\$start_time\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/CrossLocationShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FeaturedSlideResource\:\:\$cta_href\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/FeaturedSlideResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FeaturedSlideResource\:\:\$cta_label\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/FeaturedSlideResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FeaturedSlideResource\:\:\$headline\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/FeaturedSlideResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FeaturedSlideResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/FeaturedSlideResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FeaturedSlideResource\:\:\$image_url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/FeaturedSlideResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\FeaturedSlideResource\:\:\$sub_headline\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/FeaturedSlideResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MenuItemResource\:\:\$available\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MenuItemResource\:\:\$category\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MenuItemResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MenuItemResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MenuItemResource\:\:\$image_url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MenuItemResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MenuItemResource\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MenuItemResource\:\:\$price\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>price_override" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/MenuItemResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\SeatResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/SeatResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\SeatResource\:\:\$label\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/SeatResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\SeatResource\:\:\$number\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/SeatResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\SeatResource\:\:\$row\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/SeatResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\SeatResource\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/SeatResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$auditorium\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$auditorium_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$end_time\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$movie\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$movie_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$price_accessible\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$price_premium\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$price_standard\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ShowtimeResource\:\:\$start_time\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ShowtimeResource.php

		-
			message: '#^Method App\\Models\\Location\:\:menuItems\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\MenuItem, \$this\(App\\Models\\Location\), Illuminate\\Database\\Eloquent\\Relations\\Pivot, ''pivot''\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Models\\MenuItem, \$this\(App\\Models\\Location\), App\\Models\\LocationMenuItemPivot, ''pivot''\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Location.php

		-
			message: '#^Using nullsafe property access "\?\-\>price_override" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/MenuItem.php

